// FONTS
$Gotham_Bold: "gothambold1", sans-serif;
$Gotham_Book: "GothamBook", sans-serif;



// colors
$white: #ffffff;
$black: #2c4058;


.button {
    margin-top: 36px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: $black;
    border: 1px solid $black;
    padding: 20px 45px;
    display: inline-block;
    transition: all 0.4s;
    margin-bottom: 60px;

    &:hover {
      color: gray;
      border: blue solid 1px;
      background: linear-gradient(
        32deg,
        rgba(75, 199, 248, 0.7) 0%,
        rgba(52, 212, 74, 0.7) 100%
      )
    }
  }

  .hr {
    border-bottom: 1px solid #2c4058;
    width: 100px;
    margin: 0 auto;
    padding-top: 100px;
  }