.news {
  background: url("../images/Bg.png") no-repeat center,
    linear-gradient(32deg, rgba(84, 128, 236, 1) 55%, rgba(9, 238, 235, 1) 100%);
  background-size: cover;
  @include size(100%, 1000px);
  margin-top: 160px;
  font-family: $Gotham_Book;
  color: $white;
  text-transform: uppercase;
  &__hr {
    border-bottom: 1px solid #f2f3f5;
    width: 100px;
    margin: 0 auto;
    padding-top: 50px;
  }

  &__title {
    text-align: center;
    font-size: 44px;
    margin-top: 40px;
  }

  &__slider {
    display: flex;
    justify-content: center;
        margin: 100px auto;
    max-width: 1300px;

    &_block {
      @include size(370px, 520px);
      
      background: $white;
      color: $black;
      // margin-right: 20px;
      

      &_picture {
        // max-width: 370px;
        height: 240px;
        width: 100%;
        
        
      }

      &_title {
        font-size: 22px;
        margin: 30px 73px 20px 20px;
      }

      &_info {
        max-width: 320px;
        height: 54px;
        font-size: 18px;
        text-transform: none;
        overflow: hidden;
        font-family: OpenSans;
        text-align: left;
        color: #4b5562;
        margin-left: 20px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 2px;
        }
      }

      &_author {
        display: flex;
        margin-top: 35px;
        margin-left: 20px;
      }

      &_authorpicfirst {
        width: 60px;
        height: 60px;
        background: url("../images/foto/left.png") no-repeat;
        background-size: cover;
      }

      &_authorpicsecond {
        width: 60px;
        height: 60px;
        background: url("../images/foto/center.png") no-repeat center;
        background-size: cover;
      }

      &_authorpicthird {
        width: 60px;
        height: 60px;
        background: url("../images/foto/right.png");
        background-size: cover;
      }

      &_authorinfo {
        margin-left: 20px;
        margin-top: 10px;
      }

      &_authorname {
        font-size: 18px;
        color: #2c4058;
      }

      &_date {
        font-size: 14px;
        color: #55b7ff;
        margin-top: 12px;
      }
    }
  }
}

.picture {
  &__first {
    background: url("../images/lauren-mancke-60633.png");
  }

  &__second {
    background: url("../images/matthew-hamilton-202227.png");
  }

  &__third {
    background: url("../images/joel-filipe-151690.png");
  }
}
